@import '../assets/scss/variables';

.main-app {
  background-image: url(../assets/images/bg-pattern-top.svg) , url(../assets/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .card {
    width: 35%;
    height: 75%;
    background-color: $white;
    border-radius: 20px;
    background: linear-gradient();
  }
}